## Instaling Packages

In [1]:
!pip install --user ipython-sql 
!pip install --user ibm_db
!pip install --user ibm_db_sa

import ibm_db
import ibm_db_sa
import sqlalchemy

%load_ext sql

Requirement already satisfied: ipython-sql in /home/wsuser/.local/lib/python3.7/site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (7.15.0)
Requirement already satisfied: prettytable<1 in /home/wsuser/.local/lib/python3.7/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (1.3.17)
Requirement already satisfied: sqlparse in /home/wsuser/.local/lib/python3.7/site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: six in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (47.3.1.post20200622)
Requirement already satisfied: decorator in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: jedi>=0.10 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.5)
Requirement already satisfied: pygments in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: pickleshare in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: ibm_db in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (3.0.2)
Requirement already satisfied: ibm_db_sa in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (0.3.5)
Requirement already satisfied: sqlalchemy>=0.7.3 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ibm_db_sa) (1.3.17)
Requirement already satisfied: ibm-db>=2.0.0 in /opt/conda/envs/Python-3.7-main/lib/python3.7/site-packages (from ibm_db_sa) (3.0.2)

### Connecting to a database

In [2]:
%sql ibm_db_sa://xsr95434:d62@ddbmssd7dp6l@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB

#### Problem 1:

Find the total number of crimes recorded in the crime table.

In [3]:
%sql SELECT COUNT(*) AS ROW_COUNT FROM CRIME

 * ibm_db_sa://xsr95434:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

#### Problem 2:

Retrieve first 10 rows from the CRIME table

In [4]:
%sql SELECT * FROM CRIME limit 10

 * ibm_db_sa://xsr95434:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', '08/28/2004 05:50:56 PM', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, '02/10/2018 03:50:01 PM', Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '06/26/2004 12:40:00 PM', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, '02/28/2018 03:56:25 PM', Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '04/04/2011 05:45:00 AM', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, '02/10/2018 03:50:01 PM', Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '12/30/2010 04:30:00 PM', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, '02/10/2018 03:50:01 PM', Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', '02/02/2016 07:30:00 PM', '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, '6', 1155240, 1860661, 2016, '02/10/2018 03:50:01 PM', Decimal('41.77345530'), Decimal('-87.70648047'), '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', '09/29/2010 07:59:00 AM', '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'FALSE', 'FALSE', 1323, 12, 27, 24, '6', 1171668, 1905607, 2010, '02/10/2018 03:50:01 PM', Decimal('41.89644677'), Decimal('-87.64493868'), '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', '11/30/2016 01:15:00 AM', '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 1713, 17, 33, 14, '6', 1154133, 1933314, 2016, '02/10/2018 03:50:01 PM', Decimal('41.97284491'), Decimal('-87.70860008'), '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', '12/16/2005 04:45:00 PM', '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 213, 2, 3, 38, '6', 1180448, 1879234, 2005, '02/28/2018 03:56:25 PM', Decimal('41.82387989'), Decimal('-87.61350386'), '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', '01/28/2005 05:00:00 PM', '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 2211, 22, 19, 72, '6', 1160129, 1838040, 2005, '02/28/2018 03:56:25 PM', Decimal('41.71128051'), Decimal('-87.68917910'), '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', '05/13/2004 02:15:00 PM', '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 1733, 17, 35, 21, '6', 1153590, 1921084, 2004, '02/28/2018 03:56:25 PM', Decimal('41.93929582'), Decimal('-87.71092344'), '(41.939295821, -87.710923442)')]

#### Problem 3

How many crimes involve an arrest?

In [5]:
%sql SELECT COUNT(*) AS CRIME_COUNT FROM CRIME WHERE arrest = true

 * ibm_db_sa://xsr95434:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

#### Problem 4

Which unique types of crimes have been recorded at a GAS STATION?

In [6]:
%sql SELECT distinct primary_type AS TYPE_OF_CRIME FROM CRIME WHERE location_description = 'GAS STATION'

 * ibm_db_sa://xsr95434:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS',), ('NARCOTICS',), ('ROBBERY',), ('THEFT',)]

#### Problem 5

In the CENUS_DATA table list all community areas whose names start with the letter ‘B’.

In [7]:
%sql SELECT distinct community_area_name FROM PROGRESS WHERE community_area_name LIKE 'B%'

 * ibm_db_sa://xsr95434:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('BELMONT CRAGIN',),
 ('BEVERLY',),
 ('BRIDGEPORT',),
 ('BRIGHTON PARK',),
 ('BURNSIDE',)]

#### Problem 6

List the schools in Community Areas 10 to 15 that are healthy school certified?

In [8]:
%sql SELECT distinct name_of_school FROM PROGRESS WHERE community_area_number BETWEEN 10 AND 15

 * ibm_db_sa://xsr95434:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Albany Park Multicultural Academy',),
 ('Alessandro Volta Elementary School',),
 ('Daniel C Beard Elementary School',),
 ('Edgebrook Elementary School',),
 ('Edison Park Elementary School',),
 ('Edwin G Foreman High School',),
 ('Ernst Prussing Elementary School',),
 ('Friedrich W von Steuben Metropolitan Science High School',),
 ('Hannah G Solomon Elementary School',),
 ('Helge A Haugan Elementary School',),
 ('Jacqueline B Vaughn Occupational High School',),
 ('James B Farnsworth Elementary School',),
 ('Jean Baptiste Beaubien Elementary School',),
 ('John Palmer Elementary School',),
 ('John W Garvy Elementary School',),
 ('Mary Gage Peterson Elementary School',),
 ('North River Elementary School',),
 ('Northside College Preparatory High School',),
 ('Northside Learning Center High School',),
 ('Norwood Park Elementary School',),
 ('Oriole Park Elementary School',),
 ('Peter A Reinberg Elementary School',),
 ('Portage Park Elementary School',),
 ('Rufus M Hitch Elementary School',),
 ('Sauganash Elementary School',),
 ('Theodore Roosevelt High School',),
 ('Thomas A Edison Regional Gifted Center Elementary School',),
 ('Washington D Smyser Elementary School',),
 ('Wildwood Elementary School',),
 ('William G Hibbard Elementary School',),
 ('William Howard Taft High School',),
 ('William J Onahan Elementary School',),
 ('William P Gray Elementary School',)]

#### Problem 7

What is the average school Safety Score?

In [9]:
%sql SELECT AVG(safety_score) AS Safety_Score FROM PROGRESS

 * ibm_db_sa://xsr95434:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

#### Problem 8

List the top 5 Community Areas by average College Enrollments [number of students]

In [10]:
%sql SELECT community_area_name, AVG(college_enrollment) AS AVG_COLLEGE_ENROLLMENT  FROM PROGRESS GROUP BY community_area_name ORDER BY 2 DESC LIMIT 5

 * ibm_db_sa://xsr95434:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BELMONT CRAGIN', Decimal('1198.833333'))]

#### Problem 9

Use a sub-query to determine which Community Area has the least value for Safety Score?

In [11]:
%sql SELECT safety_score AS Min_SAFETY_SCORE FROM PROGRESS WHERE safety_score IN (SELECT MIN(safety_score) FROM PROGRESS)

 * ibm_db_sa://xsr95434:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[(1,)]

#### Problem 10

Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [16]:
%sql select community_area_name, per_capita_income from SOCIOECONOMIC where community_area_name='Washington Park';

 * ibm_db_sa://xsr95434:***@dashdb-txn-sbox-yp-lon02-07.services.eu-gb.bluemix.net:50000/BLUDB
Done.

[('Washington Park', 13785)]